<div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
      <label for="">Select customer</label>
      <select  class="form-control" name="name" id="" [(ngModel)]="phonedetails.name">
        <option *ngFor="let cust of customers" >{{cust.name}}</option>
  
      </select>
   </div>
   <div class="row mt-3">
     <label for="">Phone number</label>
     <input class="form-control" type="text" [(ngModel)]="phonedetails.fone">
   </div>
   <div class="row  mt-3">
     <button class="btn btn-primary" (click)="onsubmit()">Update</button>

    </div>
      </div>
  
  
    </div>
    <div class="row mt-3 sticky-bottom">
        <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
          </div>
    </div>
  
  
  
  
  </div>
