<div class="container mt-5 form-group">
  <div class="row alert alert-secondary">
      <h4 class="mb-0">Add Customer</h4>
  </div>
  <form  #heroForm="ngForm">
  <div class="row mt-3">
    <label for="">Customer Name</label>
    <input class="form-control" type="text" [(ngModel)]="customers.name"  #name="ngModel" name="name" required>
    <!-- <div [hidden]="name.valid || name.pristine"
    class=" alert-danger">
      Name is required
    </div> -->
  </div>

  <div class="row mt-3">
    <label for="">Customer Address</label>
    <input class="form-control" type="text" [(ngModel)]="customers.address"  #address="ngModel" name="address" required>
    <!-- <div [hidden]="address.valid || address.pristine"
    class=" alert-danger">
    Address is required
    </div> -->
  </div>

 
  <div class="row mt-3">
    <button class="btn btn-success" (click)="onsubmit()"  [disabled]="!heroForm.form.valid">submit</button>
  </div>
  <div class="row mt-3 sticky-bottom">
      <div *ngFor="let alert of alerts">
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
        </div>
  </div>



</form>
</div>
